.ql-stroke {
    stroke: white;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.github-picker {
    background-color: #707070;
}

.Pop-LienWeb > .ant-popover-content > .ant-popover-inner {
    background-color: #5e5e5e;
    padding: 0px;
}

.Pop-LienWeb > .ant-popover-content > .ant-popover-arrow {
    border-right-color: #5e5e5e;
    border-bottom-color: #5e5e5e;
}
