.ant-select-selection {
    background-color: #e2e0d8;
    border-color: #919191;
}

.ant-select-selection__placeholder {
    color: #a2a2a2;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
    border-top: 1px solid #c4c4c4;
}

.ant-divider-horizontal {
    background-color: #c4c4c4;
}

.ant-radio-button-wrapper {
    background-color: #e2e0d8;
    border-color: #919191;
}
.ant-radio-button-wrapper-checked {
    background-color: #e2e0d8;
    border-color: #919191;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #f1f0eb;
}

.ql-editor {
    font-family: century-gothic;
    font-size: 16px;
}
.ant-btn:focus {
    color: rgba(0, 0, 0, 0.65);
}

.ant-slider-mark-text {
    color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.ant-slider-rail {
    background-color: rgba(0, 0, 0, 0.1);
}
.ant-slider:hover .ant-slider-rail {
    background-color: rgba(0, 0, 0, 0.2);
}

.ant-slider-track {
    background-color: rgba(0, 0, 0, 0.3);
}

.ant-slider:hover .ant-slider-track {
    background-color: rgba(0, 0, 0, 0.4);
}

.ant-slider-handle {
    border: solid 2px rgba(0, 0, 0, 0.3);
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border: solid 2px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
